html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  /* box-sizing: border-box; */
}
body {
  background-color: white;
  font: 1.6rem Helvetica;
  height: auto;
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  body {
    font: 1.4rem Helvetica;
  }
}
button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .full-width {
  width: 100%;
  }
}

.header {
  height: auto;
  background-color: #669900;
  color: #040027;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.brand{
  display: flex;
}
.brand a {
  color: #040027;
  font-size: 0rem;
  font-weight: bold;
  text-decoration: none;
}
.header .brand button{
  color: white;
}
.header-links{
  background-color: #669900;
}
.header-links a {
  background-color: #669900;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
.header-links a:hover {
  color: rgb(204, 204, 204);
}
.main {
  width: 100%;
}
 .logo{
  margin: 0px 0px 0px 10px ;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: white;

}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
del{
  font-size: smaller;
}
@media only screen and (max-width: 600px) {
  .brand a {
    font-size: 1.2rem;
  }
  .header-links a{
    font-weight: normal;
    display: none;
  }
  
}

/* Home Screen */
.products {
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin-top: 2rem;
  height: 40rem;
  
}
.product {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: #eeeeee solid 1px;
  padding: 5px;
  background-color: white;
  transition: 1s;
}
.product:hover{
  border-color: rgb(5, 90, 5);
}
.product-info{
  display: flex;
  flex-direction: column;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.product-image {
  max-width: 25rem;
  max-height: 25rem;
}
.product-rating {
  margin-bottom: 1rem;
}

.product-info .discount{
  border-radius: 2px;
  padding: 5px;
  width: 60%;
  font-size: 1.5rem;
  border: 1px solid rgb(5, 90, 5);
}

.categories{
  position: relative;
  left: 10%;
  max-width: 80%;
  list-style-type: none;
  border: solid 1px none;
  background-color: white;
  border-radius:5px;
} 
 
.categories li .category-link{
  display: flex;
  flex-direction: column;
  width: 140px;
  text-align: center;
  font-size: smaller;
} 
.categories .vegetables-img{
  padding: 6% 10%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.categories Link {
  padding: 1rem;
  text-align: center;
}

.categories a:hover {
  transition: 2s;
  border-radius: 10%;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  background-color: #f0fae0;
} 

@media only screen and (max-width: 600px) {
  .products {
    margin: 0px;
    display: block;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
  }
  .products li {
     flex: 2 1 10rem; 
    margin-top: 5px;
    height: 18rem;
  }
  .product {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #eeeeee solid 1px;
    transition: 1s;
  }
  .product-info{
    display: flex;
    flex-direction: column;
    
  }
  .product-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .product-brand {
    font-size: 1.1rem;
    color: #808080;
  }
  .product-price {
    font-size: 2rem;
    font-weight: bold;
  }
  .product-image {
    max-width: 15rem;
    max-height: 15rem;
  }
  .product-rating {
    margin-bottom: .7rem;
  }
  .product-info .discount{
    width: 65%;
    font-size: 1.2rem;
    border: 1px solid rgb(28, 31, 28);
  }
  .categories{
    left: 0%;
    max-width: 100%;
    border-radius:0px;
  } 
  
  .categories li .category-link{
    display: flex;
    flex-direction: column;
    width: auto;
  } 
  .categories .vegetables-img{
    padding: 5% 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .categories Link {
    padding: .5rem;
    text-align: center;
  }
  
  .categories a:hover {
    background-color: #f0fae0;
  } 
 
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  list-style-type: none;
  border: solid green 1px;
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 27rem;
  background-color: #ffffff;
  height: 100%;
  z-index: 1;
  padding: 1rem 0 1rem 1rem ;
  overflow: auto;
}
.sidebar li{
  list-style: none;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  background-color: white;
}
.nav-categories {
  padding: 0;
  list-style-type: none;
}
.nav-categories a {
  box-shadow: 1px 1px 3px 0px #888888;
  display: flex;
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
}
.mobile-header-links{
  display: none;
  list-style-type: none;
}
.nav-categories a:hover {
  background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    transform: translateX(-35rem);
    width: 30rem;
    background-color: #ffffff;
    z-index: 1;
    height: 100%;
    padding: 1rem 0 1rem 1rem ;
    overflow: auto;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar-close-button {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    background-color: white;
  }
  .nav-categories {
    padding: 0;
    list-style-type: none;
  }
  .nav-categories a {
    box-shadow: 1px 1px 3px 0px #888888;
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

.mobile-sidebar li{
  list-style-type: none;
  display: block;
}
.mobile-header-links{
  display: block;
  height: auto;
  
  
  
}
.mobile-header-links a {
  display: flex;
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
  flex-direction: row;
}
.mobile-header-links i{
  display: block;
  white-space: pre-line;
}
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  
  border: 0.1rem #404040 solid;
}
button.button.primary:hover{
  background-color: rgb(5, 90, 5);
  color: white;
  transition: 0.8s;
}
.button.primary {
  background-color: white;
  color: rgb(31, 80, 31);
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
input .input-qty{
  margin: 0;
  width: 1rem;
}

.btn-rem{
  color: green;
  font-weight: bold;
  font-size: large;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.5px solid green;
  border-radius: 5px;
  background-color: white;
}
.btn-add{
  color: green;
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  border: 0.5px solid green ;
  background-color: white;
  margin-right: 5px;
}
.details input{
  margin: 10px 0px;
  width: 5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  text-align: center;
  border-radius: 0;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 80rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}
.btn-shopping{
  display: block;
  background-color: green;
  font-size: 20px;
  color: wheat;
  border: 1px solid green;
  width: 50%;
  margin-left: 12em;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}
.no-item{
  margin: 2em;
  text-align: center;
  font-size: 18px;
  font-style: italic;


}
.cart input{
  margin: 10px 0px;
  width: 5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  text-align: center;
  border-radius: 0;
}
@media  only screen and (max-width:600px){
  .btn-shopping{
    
    
    font-size: 15px;
    color: wheat;
    border: 1px solid green;
    width: 70%;
    margin-left: 3rem;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
  }
  .per-kg{
    font-size: 14px;
  }
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 28rem;
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
  }
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}
#btn{
  background-image: linear-gradient(to right, rgb(216, 49, 250), rgb(71, 181, 245));
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #669900;
  margin: 0;
  margin-top: 1rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 60rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  margin: 5px;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .filter {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 1rem auto;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .filter input,
  .filter button,
  .filter select {
    padding: 0.5rem;
    margin: 5px;
    border-radius: 0.5rem;
    border: 0.1rem #c0c0c0 solid;
    font-size: 1.6rem;
}
}


/* Loading part */

.loading{
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  margin-top: 5rem;
  margin-bottom: 8rem;
  animation: spin 0.5s linear infinite;
  top: 50%;
  left: 50%;
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.edit-image{
  width:50px;
  height:50px;
}

/*  Product Image Zoom */
.img-zoom-container {
  position: relative;
}


/* Footer  */



.site-footer
{
  margin-top: 2rem;
  background-color:#669900;
  padding:45px 0 0px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer .container hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:rgb(255, 255, 255);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:rgba(0, 128, 0, 0.685);
  color: white;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.payment-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.payment-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons
{
  float: right;
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:15px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Related Products List */

.related-products {
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.related-products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 40rem;
  
}
.related-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: #8685853b solid 1px;
  border-radius: 5px;
  padding: 5px;
}
.related-product:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
}
.related-product-name {
  font-size: 2rem;
  font-weight: bold;
}
.related-product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.related-product-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.related-product-image {
  max-width: 30rem;
  max-height: 25rem;
}
.related-product-rating {
  margin-bottom: 1rem;
}

.discount{
  border-radius: 5px;
  padding: 3px;
  width: 40%;
  font-size: 1.5rem;
  border: 1px solid green;
}
.categories{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.categories ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  flex: 0 1 30rem;
  margin: 0rem;
}
.category-link{
  width: 140px;
  margin-left: 1rem;
  text-align: center;
}
.vegetables-img{
  border-radius: 5%;
  height: 120px;
  width: 150px;
  margin-left: 15px;
  justify-self: center;
}

